<% if @sortedallmessage.any? %>
    <% @sortedallmessage.each do |msg|%>
            <div class="every_message">
              <% if msg.sender_id==@user.id %>
                <div class="username"><%= @user.name %></div>
              <% elsif msg.sender_id==@recipient.id%>
                  <div class="username"><%= @recipient.name %></div>
              <% end %>
              <div class="body"><%= msg.body %></div>
              <div class="datetime"><%= time_ago_in_words(msg.created_at)+' ago' %></div>
            </div>
    <% end %>
<% end %>