<% if @searched_friend.any?  %>
    <% @searched_friend.each do |frnd|  %>

          <%= link_to frnd do %>
          <div>
            <span class="email"><%= frnd.email %></span>
            <% if frnd.profilepic.present? %>
                <%= image_tag(frnd.profilepic) %>
            <% end %>
          </div>
          <% end %>

    <% end %>
<% end %>