<% if @searched_friend.any?  %>
    <% @searched_friend.each do |frnd|  %>

          <%= link_to user_path(frnd) do %>
          <div class="every_searched_friend">
            <div class="left_div">
              <span class="email"><%= frnd.email %></span>
            </div>
            <div class="right_div">
              <% if frnd.profilepic.present? %>
                  <%= image_tag(frnd.profilepic) %>
              <% else %>
                  <%= image_tag('/image/profile-image2.gif') %>
              <% end %>
            </div>
            <div style="clear:both;"></div>
          </div>
          <% end %>

    <% end %>
<% end %>