<div class="alllikesholder">
  <% @all_likes.each do |like| %>
      <div class="likes_row">
      <% if like.user.id==@user_id %>
            <%= "You" %>
      <% else %>
            <%= like.user.name %>
      <% end %>
      </div>
  <% end %>
</div>