<h1><%= @user.name %></h1>
<%= image_tag(@user.profilepic, :width => 60) if @user.profilepic.present? %>
<br/>
<br/>
<br/>
<br/>
<h1><%= @friend_comment %></h1>
<%= link_to "Back to Users", users_path %>