$('.status_input_field').val('');
$('.status_title_input_field').val('');
$('.posts_container').prepend($('<%= escape_javascript render("posts/post_create") %>').fadeIn('slow'));
$('.single_post .like_comment_part .like').click(function(){
    var like=$(this).html();
    if(like=='Like'){
        $(this).html('Liked').css('color','green');
        var like_comment=$(this).parent();
        var ll=like_comment.find('.number').html();
        if(ll){
            like_comment.find('.number').html(parseInt(ll)+1);
            like_comment.find('.unit').html('Likes');
        }
        else{
            var str=$('<span class="all_likes"><span class="number">1</span><span class="unit"> Like</span></span>');
            like_comment.append(str);
        }
        var post_id=$(this).parent().parent().data('postid')
        $.ajax({
            url: '<%= Rails.application.routes.url_helpers.post_like_users_path %>',
            data: {post_id:post_id},
            type: 'get'
        });
    }
});
$('.single_post .post_delete').click(function(){
    var post_id=$(this).parent().parent().data('postid')
    $.ajax({
        url: '<%= Rails.application.routes.url_helpers.post_delete_users_path %>',
        data: {post_id:post_id},
        type: 'get'
    });
});


$('.single_post .like_comment_part .comment').click(function(){
    var comment_form=$('<div class="comment_form">'+
            '<div contenteditable="true" class="comment_text_field" data-placeholder="Comment here..."></div>'+
            '</div>');
    if($(this).parent().siblings('.comment_container').find('.comment_form').length===0) {
        $('.single_post .comment_container .comment_form').remove();
        $(this).parent().siblings('.comment_container').append(comment_form);
    }
    comment_form.find('.comment_text_field').keypress(function(e){
        var code= e.which || e.keyCode;
        if ($(this).is(':empty') && code==32) {
            e.preventDefault();
        }
        if(code == 13){
            e.preventDefault();
            var post_id=$(this).parent().parent().parent().data('postid'),body=$(this).text();
            if(body!='') {
                $.ajax({
                    url: '<%= Rails.application.routes.url_helpers.post_comment_users_path %>',
                    data: {post_id: post_id, body: body},
                    type: 'get'
                });
                $(this).html("");
            }

        }

    });

});