$('.status_input_field').val('');
$('.status_title_input_field').val('');
$('.posts_container').prepend($('<%= escape_javascript render("posts/post_create") %>').fadeIn('slow'));
$('.single_post .like_comment_part .like').click(function(){
    var like=$(this).html();
    if(like=='Like'){
        $(this).html('Liked').css('color','green');
        var like_comment=$(this).parent();
        var ll=like_comment.find('.number').html();
        if(ll){
            like_comment.find('.number').html(parseInt(ll)+1);
            like_comment.find('.unit').html('Likes');
        }
        else{
            var str=$('<span class="all_likes"><span class="number">1</span><span class="unit"> Like</span></span>');
            like_comment.append(str);
        }
        var post_id=$(this).parent().parent().data('postid')
        $.ajax({
            url: '<%= Rails.application.routes.url_helpers.post_like_users_path %>',
            data: {post_id:post_id},
            type: 'get'
        });
    }
});


