// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn_class{
  border: 1px solid #dadada;
  text-align: center;
  background-color: lightslategrey;
  color: white;
  width: 120px;
  cursor: pointer;
}
.btn_class :hover{
  text-decoration: none;
}
.float_left{
  float: left;
}
.float_clear{
  clear: both;
}
.chatting_contacts_container{
  width: 192px;
  border-top: 1px solid #B3B3BB;
  border-left: 1px solid #B3B3BB;
  border-right: 1px solid #B3B3BB;
  color: gray;
}
.chatting_contacts_container a{
  text-decoration: blink;
  color: grey;
}
.chatting_contacts_container .contacts{
  border-bottom: 1px solid #B3B3BB;
  padding-left: 5px;
  padding-top: 5px;
  background-color: #f2f2f2;
  cursor: pointer;
}
.chatting_contacts_container .contacts :hover{
  font-weight: bold;
}
.active{
  font-weight: bold;
  color: darkslategray;
}
.chatbar{
  position: fixed;
  bottom: 5px;
  right: 10px;
  border: 1px solid #dadada;
  border-radius: 6px;
  width: 230px;
  max-height: 275px;
  display: none;
}
.chat_barAndMessage_container{
  height: 209px;
  overflow: auto;
  width: 100%;
  background-color: rgba(166, 144, 193, 0.18);
}
.chat_barAndMessage_container .every_message{
  border: 1px solid #dadada;
}
.chat_barAndMessage_container .every_message .username{
  font-size: 12px;
  font-weight: 700;
}
.chat_barAndMessage_container .every_message .body{
  font-size: 11px;
}
.chat_barAndMessage_container .every_message .datetime{
  font-size: 10px;
  text-align: right;
}
.MessageInputField{
}
.MessageInputField .text_input_field{
  width: 100%;
  height: 28px;
  margin-top: 2px;
}
.chatbar .titlebar{
  text-align: center;
  background-color: gray;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding-top: 3px;

}
.chatbar .titlebar img{
  float: right;
  width: 21px;
  cursor: pointer;
}
.hidden_class{
  display: none;
}
.login_form_container{
margin: auto;
margin-top: 150px;
width: 250px;
}
.form_fields label{
  color: gray;
}
.form_fields input{

}
.search_text_field{
width: 250px;
}
.serched_friend_list_container{
  display: none;
  position: absolute;
  top: 26px;
  left: 15px;
  width: 250px;
  border: 1px solid #dadada;
  z-index: 100;
  background-color: #ffffff;
  border-radius: 2px;


  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color=#979393)";/*IE 8*/
  -moz-box-shadow: 2px 2px 4px #979393;/*FF 3.5+*/
  -webkit-box-shadow: 2px 2px 4px #979393;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: 2px 2px 4px #979393;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color=#979393); /*IE 5.5-7*/

}

.serched_friend_list_container div{
  background: none repeat scroll 0 0 #dadada;
  height: 37px;
  margin-bottom: 2px;
  margin-top: 2px;
  padding-left: 5px;
}
.serched_friend_list_container div .email{
  margin-top: 5px;
}
.serched_friend_list_container img{
  height: 35px;
  float: right;
}
.add_friend_request{
}

.confirm{
  margin-right: 15px;
}
.menu_class{
  width: 48px;
  cursor: pointer;
}
.received_friend_request_container{
  position: absolute;
  left: 15px;
  border: 1px solid #dadada;
  top: 22px;
  width: 300px;
  display: none;
  cursor: auto;
}
.show_class{
  display: block;
}
.hide_class{
  display: none;
}
.seperate_class{
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
}
.seperate_class :hover{
  background-color: #337ab7;
  font-weight: bolder;
  color: green;
}
.status_input_field{
  width: 300px;
  height: 50px;
  border: 1px solid rgba(153, 153, 153, 0.56);
  border-radius: 3px;
}
.status_title_input_field{
  width: 300px;
  border: 1px solid rgba(153, 153, 153, 0.56);
  border-radius: 3px;
}
.single_post .post_title{
  background-color: #CCCCCC;
  padding-left: 1px;
}
.single_post .post_title .user{
  background-color: green;
  color: #ffffff;
  margin-right: 30px;
  margin-left: 4px;
  border-radius: 3px;
  padding-left: 5px;
}
.single_post .post_title img{
  height: 35px;
  border-radius: 3px;
}
.single_post .post_title .post_delete{
  height: 18px;
  margin: 5px;
  float: right;
  cursor: pointer;
}
.single_post .post_body{
  background-color: #dff0d8;
  padding-left: 10px;
  min-height: 45px;
  padding-top: 5px;
}
.single_post .post_body .body_part{
  min-height: 40px;
}
.single_post .like_comment_part{
  background-color: rgba(152, 165, 150, 0.52);
  padding-left: 7px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.single_post .like_comment_part .like{
  cursor: pointer;
}

.single_post{
  margin-top: 15px;
  border: 1px solid #dadada;
  border-radius: 6px;
}
.all_likes{
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}
.alllikesholder{
  border: 1px solid #dadada;
  position: absolute;
  top: 15px;
  left: 0px;
  background-color: #000000;
  color: white;
  opacity: .7;
  max-height: 250px;
  overflow: auto;
}
.alllikesholder .likes_row{
min-width: 120px;
margin-left: 5px;
margin-right: 5px;
}
